<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body class="p-3 mb-2 bg-dark text-white">
    <h1>Tuni Menus - <%= today %></h1>

    <div class="tampere-campus">
        <h2>Tampere Campus</h2>
        <h3>Minerva</h3>
        <%- include('../partials/namedDishes.ejs', {'menu': minervaMenu}) %>

        <h3>Juvenes Yliopiston Ravintola</h3>
        <%- include('../partials/namedDishes.ejs', {'menu': yoRavintolaMenu}) %>
    </div>

    <div class="hervanta-campus">
        <h2>Hervanta Campus</h2>
        <h3>Reaktori</h3>
        <%- include('../partials/namedDishes.ejs', {'menu': reaktoriMenu}) %>

        <h3>Hertsi</h3>
        <%- include('../partials/namedDishes.ejs', {'menu': hertsiMenu}) %>
    </div>



</body>

</html>